<div class="navbar-wrapper">
	<nav class="navbar">
		<div class="navbar__brand">
			<a href="{{ site.link }}">
				<img id="headerLogo" src="{{ site.theme.link }}/assets/images/vectors/bonnle-logo-light.svg" alt="bonnle-logo">
				<img id="headerLogoDark" src="{{ site.theme.link }}/assets/images/vectors/bonnle-logo-dark.svg" alt="bonnle-logo-dark">
			</a>
		</div>
		{% include "menu.twig" with {'items': menu.get_items} %}
	</nav>
</div>