{% extends "base.twig" %}


{# {% block html_head_container %}

	{% block head %}
		{{ parent() }}
	{% endblock %}
{% endblock %} #}

{% block body_class %}demo
{% endblock %}

{% block content %}
{% set d = post.get_field('demo') %}
<div class="pt-5"></div>
<iframe src="{{d.link}}" frameborder="0" noresize="noresize" data-view="fullScreenPreview" allow="geolocation 'self'; autoplay 'self'" sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	document.getElementsByTagName("body")[0].style.overflow = "hidden";
	document.getElementsByTagName("iframe")[0].style.margin = "65px 0 0 0";
	document.getElementById("footer").style.display = "none";
	console.log('bofy hidden');
</script>
{% endblock %}