html {
  scroll-behavior: smooth;
  /******DEBUG*******/
  // *{
  //  outline: 1px dashed red;
  // }

}
body {
  font-family: 'Montserrat', 'sans-serif';
}

.pink-line {
  border-top: 0.0625rem solid $brand-pink;
}