.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;

  &__grid-area {
    height: 176px;
    padding-top: 3rem;
  }

  &__wrapper {
    flex: 2;
    min-height: 1100px;
    height: auto;
  }

  &__data {
    padding: rem(37);
    background: url('../../dist/img/grid/sidebar-small-bg-lighter.svg') $gray-200;
    height: 100%;


    .price {
      font-size: 20px;
    }

  }

  .add-specs {
    font-size: rem(12);
  }

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: rem(12);
    color: $gray-600;
  }

  &__footer {
    padding: 0 15px;
    position: absolute;
    min-width: 100%;
    bottom: 0;
    right: 0;

    .content {
      background: $indigo;

      color: #FFFFFF;

      padding: 0 rem(40) rem(25) rem(40);
    }

    &__total-numbers {
      background-color: $gray-200;
      text-align: right;
      padding: rem(15) rem(10);
      color: $indigo;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);

      .qty {
        font-size: rem(24);
        display: inline;
      }

      .sum {
        font-weight: 700;
        font-size: rem(14);
        display: inline;
      }
    }

    .est-cost {
      padding: rem(15) 0;
    }

    .additional-costs {
      display: none;

      .additional-cost {
        padding: rem(8) 0;
        margin: rem(7) 0;
        border-bottom: 1px solid $gray-200;

        &__name {
          font-weight: 700;
        }

        &__value {

        }
      }
    }
  }
}
