{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}


{% block body_class %}blog{% endblock %}
{% block content %}
	<h2 class="display1 pink-stripe col-5 mb-5">{{ term.title }}</h2>
  {{ parent() }}
{% endblock %}
