.btn{
  text-transform: uppercase;
  color: $white;
}

a.btn {
  color: $white;
}

.form-control {

  background-color: #FBFBFB;
  border: 1px solid #E6E7E8;
  border-radius: 1px;
}

.btn-discreet {
  @include button-variant($white, $white);
  text-transform: unset;
}

